@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&display=swap');

.registration_page {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-gap: 7px;
    justify-items: center;
    justify-items: center;
}

.registration_head_bottom {
    margin-top: 121px;
    justify-self: start;
    font-size: 32px;
    margin-bottom: 40px;
}

.registration_head_bottom_text {
    color: #000920;
    font-weight: 900;
    margin-left: 20px;
    padding:  0;
}

.registration_sign {
    width: 350px;
    height: 48px;
    border-radius: 40px;
    background: #6869F7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 402px;
    color: white;
}

.registration_sign:hover
{   color: #ffffff;
    background: #191970; 
}
.registration_sign_button {
    font-weight: 600;
    
}
.button_girl{
    width: 350px;
    height: 48px;
    border-radius: 40px;
    border: #C4C9CF solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    color: #525863;
}
.button_girl:hover{
    border: #6869F7 solid 1px;
    color: #6869F7;
}
.button_man{
    width: 350px;
    height: 48px;
    border-radius: 40px;
    border: #C4C9CF solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    color:  #525863;
}
.button_man:hover{
    border: #6869F7 solid 1px;
    color: #6869F7;
}
.button_girl_div_button{
    font-weight: 900;
}
.button_man_div_button{
    font-weight: 900; 
}